<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-in-app-update" version="0.0.3">
    <name>UpdatePlugin</name>

    <description>An Android Cordova plugin that allows users to update app to letest version without leaving the application.</description>
    <license>MIT</license>

    <keywords>cordova,android,playstore,update,autoupdate,In app update,Stalness days,Priority update,Flexible update,Immidiate update</keywords>
    <repo>https://github.com/MrSpark2591/cordova-app-update-plugin.git</repo>
    <issue>https://github.com/MrSpark2591/cordova-app-update-plugin/issues</issue>

    <engines>
        <engine name="cordova" version=">=8.0.0"/>
    </engines>

    <js-module src="www/updatePlugin.js" name="UpdatePlugin">
        <clobbers target="window.plugins.updatePlugin" />
    </js-module>
    <platform name="android">
        <dependency id="cordova-custom-config" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="UpdatePlugin">
                <param name="android-package" value="com.mrspark.cordova.plugin.UpdatePlugin"/>
            </feature>
        </config-file>
        <framework src="com.google.android.play:app-update:2.0.0" />
        <source-file src="src/android/UpdatePlugin.java" target-dir="src/com/mrspark/cordova/plugin" />
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="UpdatePlugin">
                <param name="ios-package" value="CDVUpdatePlugin"/>
            </feature>
        </config-file>
        <header-file src="src/ios/UpdatePlugin.h" />
        <source-file src="src/ios/UpdatePlugin.m" />
    </platform>
</plugin>
